article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0em 0; padding: 0 0 0 0px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */



/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
	background-color: #f16066;
	font-size: 100%;
	line-height: 1.5;
	}
	

.centre {width: 100%; max-width: 1000px; margin: 0 auto;} 	


.centre {
max-width: 1000px;
width: 100%;
padding: 0 3%;
margin: 0 auto;
} 

a{
-webkit-transition:color 0.3s linear;
-moz-transition: color 0.3s linear;
-o-transition: color 0.3s linear;
transition: color 0.3s linear;
}


/* ==|== Top Bar ======================================================== */

#top-bar, footer { 
width: 100%;
background-color: #434343;
}

#about-link { float: left; }

#connect {
float: right;
margin: 0;
padding: 0;
}

#connect li { 
display: inline-block; 
margin: 0 10px 0 0;
}

#connect li:last-child { margin-right: 0; }

#top-bar { 
font-family: 'helvetica', 'arial'; 
font-size: 0.7em; 
color: #fff;
}

#top-bar a,
#top-bar a:visited,
footer a,
footer a:visited { color: #fff;}

#top-bar a:hover,
footer a:hover { text-decoration: none; }

/* ==|== Branding ========================================================      */

header.centre { padding: 2em 3%; }

.header-branding { margin: 0 0 3em 0; }

#logo {display: block;
width: 368px; height: 118px;
}

#logo { 
float: left; 
width: 75%;
max-width: 550px;
display: block;
position: relative;
}

#logo img{
width: 100%;
}


#keywords {
float: right;
padding: 0;
margin: 0;
list-style: none;
}

#keywords li {
font-size: 3em;
line-height: 1.3em;
margin: 0;
text-transform: uppercase;
font-weight: normal;
color: #fff;
}

#tagline {
font-family: 'helvetica', 'arial'; 
font-size: 1.3em; 
line-height: 1em;
font-weight: normal;
text-align: left;
color: #434343;
text-transform: uppercase;
margin: 0 0 2em 0;
}


/* ==|== Global Navigation ======================================================== */


nav { 
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
padding: 0.75em 0;
}

nav li { 
display: inline-block; 
margin: 0 3% 0 0;
}

#stories {background-image:url('/beautiful-news/images/sprite.png'); width: 40px; height: 26px; background-position: 0px 0px;}
#share {background-image:url('/beautiful-news/images/sprite.png'); width: 40px; height: 26px; background-position: 200px 0px;}
#search {background-image:url('/beautiful-news/images/sprite.png'); width: 26px; height: 26px; background-position: 155px 0px;}

nav a,
nav a:visited {
color: #fff;
font-size: 1.25em;
text-decoration: none;
text-transform: uppercase;
}

nav a:hover{
color:#ffaaad;	
}

#searchbar input{
background: #fde9ea;
border: none; 
border-radius: 3px; 
-moz-border-radius: 3px;
}


#searchbar input:focus {
background: #fff;
}

#filter { 
padding: 2.5em 0;
}

#filter li { 
display: inline-block; 
margin: 0 3% 0 0;
color: #434343;
font-size: 1.25em;
text-decoration: none;
text-transform: uppercase;
}

#filter-icon {background-image:url('/beautiful-news/images/sprite.png'); width: 43px; height: 26px; background-position: 128px 0px;}

#filter-subject {
background-color: #434343;
padding: 3px 10px 2px 10px; 	
}

#filter-subject a {
text-decoration: none;
color: #fff; 	
}

#filter-latest {
background-color: #434343;
padding: 3px 10px 2px 10px; 	
}

#filter-latest a {
text-decoration: none;
color: #fff; 	
}




/* ==|== Content ======================================================== */


#content{
padding-bottom: 50px;
} 

.story h1 {
color: #fff;
font-size: 2.4em;
line-height: 1em;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;	
}

.story h5 {
color: #000;
font-family: 'Georgia', serif;
font-size: 0.8em;
font-weight: normal;
text-decoration: none;	
}

.story p{
font-family: 'Times', 'Georgia', serif;
color: #fff;
font-size: 1.8em;
line-height: 1.4em;
font-weight: normal;	
}

.full-story a {
color: #434343;
font-size: 1.2em;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;	
}


.full-story a:hover{
color:#fff;
}

.tag-list li{
display: inline-block;	
}

.tag {
background-color: #fff;
padding: 3px 10px 2px 10px;
margin-right: 10px;
margin-bottom: 20px; 	
}

.tag a {
text-transform: uppercase;
text-decoration: none;
color: #f16066; 	
}



.alt {
	width: 100%;
	background-image: url('/beautiful-news/images/tile.png');
	background-repeat: repeat;
	padding: 20px 0px 20px 0px;
}

#more-stories {
margin-top: 50px;
}

#more-stories a {
padding: 3px 10px 2px 10px; 	
background-color: #434343;
text-decoration: none;
color: #fff; 	
text-transform: uppercase;
font-weight: normal;
}	



/* ==|== Single Story ======================================================== */

h1.story-title {
color: #f16066;
}

.story-title { 
background-color: #fde9ea;
padding: 10px;	
}

.author {
font-style: italic;	
}

.opening-paragraph {
font-size: 1.8em;
line-height: 1.2em;
font-weight: normal;
}


.story-nav li{
display: inline-block;
list-style-type: none;
text-transform: uppercase;
}

.prev {
text-decoration: none;		
}

.next {
text-decoration: none;
padding-left: 20px;		
}


/* ==|== Share Story ======================================================== */

#subject-select {
background-color: #434343;
padding: 3px 10px 2px 10px; 	
}


a#subject-select {
text-transform: uppercase;
color: #fff; 
text-decoration: none;
font-weight: normal;
}

#share-background {
	width: 100%;
	background-image: url('/beautiful-news/images/tile.png');
	background-repeat: repeat;
	padding: 20px 0px 20px 0px;
}

#share-background h1 {
text-transform: uppercase;
font-weight: normal;	
}

#more-details{
border: 1px solid white;	
}

form {
overflow: hidden;
}

form label {
display: block;
color: #ffffff;	
}

form fieldset, input, textarea {
float: left;
margin-right: 50px;
margin-bottom: 10px;
border: 0px;
border-radius: 3px;		
}

form input {
height: 30px;
}

.checkbox {
float: left;
}

.label-inline label {
float: left;
display: block;
padding-right: 20px;
}


.hide-label {
position: absolute !important;
top: -9999px !important;
left: -9999px !important;	
}

form button {
background-color: #434343;
padding: 5px 10px; 
border: none; 
color: #ffffff;	
text-transform: uppercase;
}


form fieldset input:focus,
form fieldset textarea:focus {
background: #fff;
}


#story {
width: 900px;	
}

   

/* ==|== Footer ======================================================== */


#bottom-bar{
width: 100%;
height: 3.125em; /* 50px / 16px = 3.125em */
position:relative;
bottom:0px;
background-color:#434343;
}


footer { padding: 1em 0; }

footer h4 {
color: #fff;
font-weight: normal;
font-size: 0.875em;
margin: 0;
float: left;
}

footer ul {
list-style: none;
margin: 0;
padding: 0;
float: right;
}

footer li { 
display: inline-block; 
margin: 0 10px 0 0;
}

footer li:last-child { margin-right: 0; }

footer li a {
font-size: 0.875em;
text-decoration: none;
}

#bottom-bar li {display: inline;}


/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}