<div id="top-bar" class="clearfix">
	<div class="centre">
		<h4 id="about-link"><a href=""><span>About Us</span></a></h4>

		<ul id="connect" class="clearfix">
			<li>Connect:</li>
			<li><a href=""><span>Facebook</span></a></li>
			<li><a href=""><span>Twitter</span></a></li>
			<li><a href=""><span>RSS</span></a></li>
		</ul>
	</div>
</div><!-- top-bar -->


<!-- ======================================================= -->

<header class="clearfix centre">

	<div class="header-branding clearfix">
		<div id="logo" class="clearfix"><img src="/beautiful-news/images/logo.png"></div><!--logo-->
	
		<ul id="keywords">
			<li>Salvation</li>
			<li>Healing</li>
			<li>Love</li>
		</ul><!-- keywords -->
		
	</div><!--header-branding-->
	
	<h2 id="tagline">Share the Beautiful News of how Jesus Christ has worked in your life</h2>
	
	<!-- ======================================================= -->
	
	<nav>
		<ul>
			<li id="stories"></li>
			<li><a href="">Stories</a></li>
			<li id="share"></li>
			<li><a href="">Share your story</a></li>
			<li id="search"></li>
			<li><a href="">Search</a></li>
			<li id="searchbar"><form><input type="text"></form></li>
		</ul>
	</nav><!-- nav -->
	
	
<!-- ======================================================= -->

<ul id="filter">
	<li id="filter-icon"></li>
	<li>Filter Stories</li>
	<li id="filter-subject"><a href="">Subject</a></li>
	<li id="filter-latest"><a href="">Latest</a></li>
</ul><!--filter-->	

</header>

