<div id="top-bar">

<h4 id="about-link"><a href=""><span>About Us</span></a></h4>

<ul id="connect">
<li>Connect:</li>
<li><a href=""><span>Facebook</span></a></li>
<li><a href=""><span>Twitter</span></a></li>
<li><a href=""><span>RSS</span></a></li>
</ul>

</div><!-- top-bar -->


<header class="centre">

<!-- ======================================================= -->

<h1 id="logo"><span>Beautiful News</span></h1>

<ul id="keywords">
<li>Salvation</li>
<li>Healing</li>
<li>Love</li>
</ul>

<h2 id="tagline">Share the Beautiful News of how Jesus Christ has worked in your life</h2>


<!-- ======================================================= -->

<div id="global-nav">
<hr class="centre">
<ul>
<li><a href="">Stories</a></li>
<li><a href="">Share your story</a></li>
<li><a href="">Search</a></li>
<li>[search box]</li>
</ul>
<hr class="centre">
</div><!-- global-nav -->

</header>

