article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_rg-webfont.eot?') format('eot'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller Bold';
    src: url('../fonts/aller_bd-webfont.eot?') format('eot'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/aller_bd-webfont.svg') format('svg');
    font-weight: bold;
    font-style: bold;
}

body { 
background: url(../images/admin-bg.png); 
color: #222;
font-size: 100%;
line-height: 1.5;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header { background: url(../images/admin-header-bg.jpg); }

a, a:visited {
color: #DD3039;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Aller Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-top: 0;
}

h1 {
font-size: 2em;
line-height: 1.5em;
}





.centre {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

min-width: 800px;
}

/* ==|=====================================================
   Header Styles
   ======================================================== */
header {
padding: 0.8125em 3%;
height: 3.125em; /* 50px */
border-bottom: 1px solid #50c5af;
}

header h1 { 
color: #fff;
float: left;
width: 37.5%; 
margin: 0;
font-size: 1.5em;
line-height: 1em;
}

nav {
float: right;
width: 62.5%;
}

nav li {
float: right;
margin: 0 0 0 5%;
}

nav a, nav a:visited {
font-family: 'Aller Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #fff;
font-size: 0.875em;
line-height: 1em;
text-decoration: none;
font-weight: bold;
}

nav a:hover { 
text-decoration: underline; 
color: #fff;
}

nav a:active { 
text-decoration: underline; 
color: #36aa95;
}

nav a.active {
background: #36aa95;
display: inline-block;
padding: 5px 10px;
text-decoration: none;

-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

#secondary-nav {
background: #e7e7e7;
padding: 0.5em 3%;
list-style: none;
margin: 0;
}

#secondary-nav li {
float: right;
margin: 0 0 0 3%;
}

#secondary-nav a, #secondary-nav a:visited {
font-family: 'Aller', 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #222;
font-size: 0.75em;
line-height: 1em;
text-decoration: none;
}

#secondary-nav a:hover { 
color: #000; 
text-decoration: underline;
}

#secondary-nav a:active { 
color: #444;
text-decoratin: underline;
}

#secondary-nav a.active {
font-family: 'Aller Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-decoration: underline;
}

/* ==|=====================================================
   Content Styles
   ======================================================== */
#content {
background: rgba(255,255,255, 0.3);
padding: 0.8125em 3%;
}


/*=========== FORMS ===========*/
fieldset {
border-top: 1px dotted #36aa95;
padding: 1em 0;
}

legend {
font-family: 'Aller Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #fff;
background: #36aa95;
padding: 5px 10px;
}

.form-field { margin: 0 0 0.75em 0; }

label {
font-family: 'Aller Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 0.875rem;
margin: 0 0 0.25rem 0;
display: block;
}

input, textarea {
border: 1px solid #666;
font-size: 0.875rem;
line-height: 1.25rem;
padding: 7px 7px 5px 7px;
width: 400px;
}

input:focus, textarea:focus {
border-color: #36aa95;
background: #e9f9f6;
}

select {
font-size: 0.875rem;
line-height: 1.25rem;
}

input.submit {
background: #DD3039;
color: #fff;
font-family: 'Aller Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
border: none;
width: auto;
padding: 10px 20px;

-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

input.submit:hover { background: #222; }

table input { width: auto; }


/*=========== TABLES ===========*/
table {
border: 1px solid #36aa95;
margin: 0 0 1.5em 0;
}

td, th {
font-size: 0.75em;
padding: 5px;
text-align: left;
border-bottom: 1px solid #36aa95;
border-right: 1px solid #36aa95;
}

th { background: #9dd8ce; }

th:last-of-type { border-right: none; }



/* ==|=====================================================
   Footer Styles
   ======================================================== */
footer {
background: rgba(255,255,255, 1);
padding: 0.8125em 3%;
}

footer p {
font-size: 0.75em;
}





/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}