{embed="embeds/head"}
{embed="embeds/header"}
<div id="content">

{exp:channel:entries channel="story" orderby="date" sort="desc" limit="2" paginate="bottom"}

<div class="{switch="alt| "}">
	<article class="story centre">
		<h1>{title}</h1>
		<h5>Posted on {entry_date format="%d/%m/%Y"} by <span class="author">{name}</span></h5>
	
		<p>{story}</p>
		
		<h3 class="full-story"><a href="{title_permalink="single/index"}">Full Story</a></h3>
		
		<ul class="tag-list">
		{categories}	
		<li class="tag"> <a href="{path='site_index'}"> {category_name} </a> </li>
		{/categories}
		</ul>
		
	</article>
</div>

{paginate}
Page {pagination_links}
{/paginate}
	
{/exp:channel:entries}



<h3 id="more-stories" class="centre"><a href="">More Stories in the archive</a></h3>

</div><!--content-->


{embed="embeds/footer"}