{embed="embeds/head"}
{embed="embeds/header"}
<div id="content">

{exp:channel:entries channel="story" limit="20"}

<div class="{switch="alt| "}">
	<article class="story centre">
		<h1>{title}</h1>
		<h5>Posted on {entry_date format="%d/%m/%Y"} by <span class="author">{name}</span></h5>
	
		<p>{story}</p>
		
		<h3 class="full-story"><a href="{title_permalink="single/index"}">Full Story</a></h3>
		
		<ul class="tag-list">
		{categories}	
		<li class="tag"> <a href="{path='site_index'}"> {category_name} </a> </li>
		{/categories}
		</ul>
		
	</article>
</div>
	
{/exp:channel:entries}
</div><!--content-->


{embed="embeds/footer"}