{embed="embeds/head"}
{embed="embeds/header"}
<div id="content">

{exp:channel:entries channel="story"}

	<article class="story centre">
		<h1 class="story-title">{title}</h1>
		<h5>Posted on {entry_date format="%d/%m/%Y"} by <span class="author">{name}</span></h5>
		
		<ul class="story-nav">
			{exp:channel:prev_entry}
			<li><a class="prev" href="{path='single'}">&#60; Previous</a></li>
			{/exp:channel:prev_entry}
			<!-- | -->
			{exp:channel:next_entry}
			<li><a class="next" href="{path='single'}">Next &#62;</a></li>
			{/exp:channel:next_entry}
		</ul>
	

<p>
<span class="opening-paragraph">
Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. You mean it controls your actions? I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. What!?
</span>
</p>

<p> {story} </p>

<hr>		
		
		<ul class="tag-list">	
		<li class="tag">{categories} <a href="{path='site_index'}"> {category_name} </a> {/categories}</li>
		</ul>
		
		<ul class="story-nav">
			{exp:channel:prev_entry}
			<li><a class="prev" href="{path='single'}">&#60; Previous</a></li>
			{/exp:channel:prev_entry}
			<!-- | -->
			{exp:channel:next_entry}
			<li><a class="next" href="{path='single'}">Next &#62;</a></li>
			{/exp:channel:next_entry}
		</ul>
		
	</article>

{/exp:channel:entries}
</div><!--content-->


{embed="embeds/footer"}