{embed="embeds/head"}
{embed="embeds/header"}
<div id="content">

{exp:channel:entries channel="story"}

	<article class="story centre">
		<h1 class="story-title">{title}</h1>
		<h5>Posted on {entry_date format="%d/%m/%Y"} by <span class="author">{name}</span></h5>
		
		<ul class="story-nav">
			<li><a class="prev" href="">&#60; Previous</a></li>
			<li><a class="next" href="">Next &#62;</a></li>
		</ul>
	

<p>
<span class="opening-paragraph">
Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. You mean it controls your actions? I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. What!?
</span>
</p>

<p> {story} </p>

<hr>		
		
		<ul class="tag-list">
			<li class="tag"><a href="">Depression</a></li>
			<li class="tag"><a href="">Hope</a></li>
			<li class="tag"><a href="">Addiction</a></li>
			<li class="tag"><a href="">Healing</a></li>
		</ul>
		
		<ul class="story-nav">
			<li><a class="prev" href="">&#60; Previous</a></li>
			<li><a class="next" href="">Next &#62;</a></li>
		</ul>
		
	</article>

{/exp:channel:entries}
</div><!--content-->


{embed="embeds/footer"}